{{define "stream"}}

<!DOCTYPE html>
<!-- Copyright Sevadus Gaming -->
<html lang="en">
<head>
    <!-- Site Metadata -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Site Tile -->
    <title>Private Streaming</title>
    <!-- Site Stylesheets -->
    <!-- <link rel="shortcut icon" href="/assets/img/favicon.png" />-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/video-js.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/video-site.css?v=0.12" rel="stylesheet" type="text/css">
    <!-- Load Jquery First -->
    <script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
</head>
<body role="document">
<!-- Navigation -->
<!--<?php if(isset($navigation)) echo $navigation; ?>-->
<!-- No JS Warning -->
<noscript>
    <div class="container" style="padding:50px;">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Danger!</strong><br/>Your browser does not support javascript. This site will not function without javascript enabled.
        </div>
    </div>
</noscript>

<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Stream Player -->
        <div class="col-md-12 col-lg-10 col-lg-offset-1 video-content" id="video-col">
            <div class="embed-responsive embed-responsive-16by9">
                <video id="stream-video" class="embed-responsive-item video-js vjs-default-skin" autoplay=true controls width="auto" height="auto">
                    <source src="rtmp://shat.pgeneva.com:1935/origin/{{.}}" type="rtmp/flv" data-res="1080p" />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
            </div>
        </div>
    </div>

    <!-- Bitrate menu -->
    <div id="bitrate-popup"></div>

</div>

</body>

<!-- Site Scripts -->
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/video.js"></script>
<script type="text/javascript" src="/assets/js/videojs-media-sources.js"></script>
<script type="text/javascript" src="/assets/js/videojs.hls.js"></script>
<script type="text/javascript" src="/assets/js/video-site.js?v=0.10"></script>

<!-- Stream Plugins -->
<script type="text/javascript" src="/assets/js/videojs-plugins.js"></script>
<!-- Stream Video Script -->
<script type="text/javascript">
$(document).ready(function() {
  // Init our player
  var player = videojs("stream-video", {
    // Fallback order
    techOrder: ['hls', 'html5', 'flash'],
    // Where our flash file is
    flash: {
      swf: '/assets/swf/video-js.swf'
    },
    // Add the viewercount plugin
    plugins : {
      'view-count' : {},
      'bitrate-select' : {}
    }
  });
  // Remove unneeded controls
  player.controlBar.durationDisplay.disable();
  player.controlBar.timeDivider.disable();
  // Set volume down
  player.volume(0.75);
});
</script>

<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 copyright">
                <div class="text-right" style="padding-right:15px;padding-top:5px;">
                    &copy; Patrick Geneva 2014-2017
                </div>
            </div>
        </div>
    </div>
</footer>
</html>

{{end}}
